<br>

<ngb-accordion>
  <ngb-panel title="{{rp.name}}" *ngFor="let rp of rplist" id="{{rp.id}}">
    <ng-template ngbPanelContent>
      <div class="table-responsive-sm">
        <table class="table w-auto  table-striped table-light">
          <tr>
            <td class="text-right">
              URL:
            </td>
            <td>
              <a href="{{rp.url}}" target="_blank">{{rp.url}}</a>
            </td>
          </tr>
        </table>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
