{%- extends "bootstrap/base.html" %}

{% block title %}
    {% if title %} {{ title }} {% else %}{{ _('Minimal Flask Example') }}{% endif %}
{% endblock %}

{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{%- endblock %}

{% block styles -%}
{{super()}}

<link rel="stylesheet" type="text/css"
      href="{{url_for('static', filename='mystyle.css')}}">
{% endblock %}


{% block navbar %}

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Home</a>
            {% if authorized %}
                <a class="navbar-brand" href="{{ url_for('main.profile') }}">Profile</a>
                <a class="navbar-brand" href="{{ url_for('main.logout') }}">Logout</a>
            {% else %}
                <a class="navbar-brand" href="{{ url_for('main.login') }}">Login</a>
            {% endif %}
        </div>
    </div>
</nav>

{% endblock %}


{% block content %}
<div class="container">
    {% block app_content %}{% endblock %}
</div>
{% endblock %}


{% block scripts %}

{# <script src="{{url_for('.static', filename='myscripts.js')}}"></script> #}

{{super()}}
{% endblock %}
