<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
    <clientsType>
        <client>
            <client_id>client1</client_id>
            <client_secret>secret-client1</client_secret>
            <redirect_uri>http://rp.oidc.honest-sso.de:8080/dispatch/</redirect_uri>
            <consent_page>true</consent_page>
        </client>
        <client>
            <client_id>client2</client_id>
            <client_secret>secret-client2</client_secret>
            <redirect_uri>http://rp.oidc.attack-sso.de:8080/dispatch/</redirect_uri>
            <consent_page>false</consent_page>
        </client>
    </clientsType>
